// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.green-bar{
  background:#cfe5a0;
  height:18px;
  width:100%;
  max-width:1500px;
  margin:18px auto;
  border-radius:4px;
}

.responsive-img{
  max-width: 100%;
  height:auto;
}


.section-container{
  display:flex;
  gap:30px;
  align-items:flex-start;
}

.text-box{
  flex:1;
  width:100%;
}

.map-box{
  flex:1;
}

iframe{
  width:100%;
  height:350px;
  border:0;
}

.section{
  margin-bottom:40px;
}

.boks{
  background-color:#2f3e50;
  padding: 20px;
  width:250px;
  border-radius:8px;
  color:white;
  text-align:center;
}

.boks img{
  width:100%;
  border-radius:5px;
}

.container{
  display: flex;
  gap:30px;
  justify-content:center;
}

.centeret-oversrkift{
  text-align:center;
}
