// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}



.navbar-top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 30px;
}

.logo {
  width: 200px;
  height: auto;
}

.site-titel-wrap{
  flex: 1 1 auto;
  text-align: center;
  margin-top: 10px;
}

.site-titel{
  margin: -15px 0 8px;
  font-family: Kaisei HarunoUmi;
  font-size: 100px;
  line-height: 0.9;
  color:white;
  letter-placing: 1px
}


nav {
  background-color: #273F50;
  padding: 56px 30px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

nav a:hover {
  opacity: 0.7;
}

.green-bar{
  background:#cfe5a0;
  height:20px;
  width: 1500px;
  margin:18px auto;
  border-radius:4px;
}

.responsive-img{
  max-width: 100%;
  height:auto;
}


.section-container{
  display:flex;
  gap:30px;
  align-items:flex-start;
}

.text-box{
  flex:1;
  width:100%;
}

.map-box{
  flex:1;
}

iframe{
  width:100%;
  height:350px;
  border:0;
}

.section{
  margin-bottom:40px;
}

.boks{
  background-color:#2f3e50;
  padding: 20px;
  width:250px;
  border-radius:8px;
  color:white;
  text-align:center;
}

.boks img{
  width:100%;
  border-radius:5px;
}

.container{
  display: flex;
  gap:30px;
  justify-content:center;
}

.centeret-oversrkift{
  text-align:center;
}


.footer {
  background-color: #273F50
;
  padding: 30px 40px;
  color: #585858;
  font-size: 15px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;


}

.social-icons img {
  width: 50px;
  margin-right: inherit;
}

